.body {
    background-image: url('image/profile/cover.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    filter: brightness(0.8);
}


#div{
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 120px; 
    margin-bottom: 120px; 
    border: 1px solid #ccc;
    background-color: rgba(245, 245, 245, 0.6); 
    box-shadow: 0px 0px 10px #ccc;
    background: transparent;
    backdrop-filter:blur(20px);
}


#h2 a, #he a {
    text-decoration: none;
  }
  
  /* Style the text */
  #h2, #he {
    font-size: 18px;
    color: #333; 
  }
  

#h2 {
    text-align: center;
    color: #333; 
    text-decoration: none;
    margin-top: 10px;
}

#keep-me-logged-in{
    margin-right: 20px;
}
form {
    text-align: center;
}

label {
    display: flex;
    font-weight: bold;
    color: #555; 
}
.login-container input[type="text"],
.login-container input[type="password"] {
    margin-top: 20px;
    width: 80%;
    padding: 12px;
    margin-bottom: 5px; /* Increase spacing between input fields */
    border: 1px solid #ccc;
    background-color: #f9f9f9; /* Input field background color */
    color: #333; /* Input text color */
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid black;
}

#button {
    background-color: #43c9c9;
    color: #fff;
    border: none;
    padding: 10px 20px; /* Increase padding for button */
    border-radius: 4px;
    cursor: pointer;
    width: 200px;
    transition: background-color 0.3s ease; /* Add a smooth hover transition */
}

#button:hover {
    background-color: #1f6469; /* Change background color on hover */
}
.login-container input[type="text"]::placeholder,
.login-container input[type="password"]::placeholder {
    color: #000000; /* Change this to your desired color */
}

#keep-me-logged-in{
    margin-top: 20px;
}

#keep-me-logged-in [type="checkbox"]{
    margin-right: 20px;
}