body {
    background-image: url('image/succ.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

.amount_container{
    display: flex;
    border-radius: 10px;
    justify-content: center;
    margin: 0;
    filter: brightness(0.8);

}

#option{
    width: 400px;
    height: 40px;
    position: relative;
    font-size: 18px;
    border-radius: 7.5px ;
    border: none;
}

.Payment{
    font-size: 20px;
    color: rgb(6, 40, 68);
    
    
}
#div{
    margin-top: 10px;
    width: 750px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 7.5px;
    background-color: rgba(218, 231, 243, 0.897); 
    box-shadow: 0px 0px 10px #ccc;
    padding: 60px;
    margin-bottom: 100px;
    margin-top: 100px;
    background: transparent;
    backdrop-filter:blur(20px);
}

#btn1 , 
#btn2 {
    background-color: #417592; 
    color: #fff; 
    border: none; 
    padding: 4px 8px; 
    border-radius: 50px; 
    cursor: pointer; 
    text-align: center; 
    text-decoration: none; 
    font-size: 20px; 
    font-family: "Poppins", sans-serif; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    overflow: hidden; 
    z-index: 1509; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 200px;
    
}
 #button_center
 {
    margin-top: 40px;
 }

#btn1:hover ,
#btn2:hover {
    background-color: #0e3347; 
    transform: scale(1.1);
}

#btn2{
    margin-left: 20px;
}