@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

h1{
    margin-top: 30px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

h2{
    margin-left: 60px;
    font-family:"Poppins", sans-serif ;
}


.payment_container{
    width: 700px;
    height: auto;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 30px;
    border-radius: 10px;
    border: none;
    background-color: #e7e9eeee;
    box-shadow: 0px 0px 10px #f9f7f7;
    background: transparent;
    backdrop-filter:blur(25px);
}

.button{
    background-color: #43c9c9;
    color: #fff;
    border: none;
    padding: 15px 25px; /* Increase padding for button */
    border-radius: 4px;
    cursor: pointer;
    width: 300px;
    transition: background-color 0.3s ease; /* Add a smooth hover transition */
    font-size: larger;
    margin-left: 110px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.button:hover{
    background-color:#1f6469;
    transform: scale(1.05);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}


.image{
    width: 250px;
    height: inherit;
    margin-left: 200px;
    border-radius: 4px;
}

.image:hover{
    transform: scale(1.05);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}


body{
    background-image: url('image/card3.png');
    background-repeat: none;
    background-attachment: fixed;
    background-size: cover;
}
