
body{
    background-color: rgb(27, 146, 167);
    background: #bdd3e2;
  }

  
table {
    border-collapse: collapse;
    width: 90%;
    margin: 20px auto; 
    
  }
  
  
  thead {
    background-color: rgba(0, 0, 0, 0.89);
    color: rgba(255, 255, 255, 0.829);
    font-size: 20px;
  }
  
  thead th {
    padding: 10px;
  }
  
  
  tbody {
    background-color: rgba(227, 232, 240, 0.764);
    color: rgba(0, 0, 0, 0.632);
    font-weight: bold;
  }
  
  tbody tr:nth-child(even) {
    background-color: rgba(220, 214, 207, 0.682);
  }
  
  tbody td {
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.297);
    text-align: center; 
  }
  
 

  tbody tr:hover {
    background-color: rgba(190, 184, 177, 0.588);
  }
  
 
button {
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    text-align: center; 
    font-size: 16px;
    cursor: pointer; 
    border-radius:5px;
   
  }
  
  button a {
    color: white; 
    text-decoration: none;
  }
  
  
 
  
